<ion-content class="login-container">
  <div class="login-header">
    <h2>Welcome to TripTalk</h2>
    <p>Login or Sign up to access your account</p>
  </div>

  <ion-segment [(ngModel)]="authMode" class="auth-toggle">
    <ion-segment-button value="login">
      Login
    </ion-segment-button>
    <ion-segment-button value="signup">
      Sign Up
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="authMode === 'login'" class="auth-options">
    <ion-button expand="block" class="auth-button google">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Login with Google
    </ion-button>

    <ion-button expand="block" class="auth-button apple">
      <ion-icon slot="start" name="logo-apple"></ion-icon>
      Login with Apple
    </ion-button>

    <div class="divider">or continue with email</div>

    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="mail-outline" class="input-icon"></ion-icon>
      <ion-input 
        [(ngModel)]="email"
        type="email"
        placeholder="Email Address"
        required>
      </ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="lock-closed-outline" class="input-icon"></ion-icon>
      <ion-input
        [(ngModel)]="password"
        type="password"
        placeholder="Password"
        required>
      </ion-input>
      <ion-icon slot="end" name="eye-outline" class="toggle-password"></ion-icon>
    </ion-item>

    <div class="forgot-password">
      <a href="#">Forgot password?</a>
    </div>

    <ion-button expand="block" class="login-button" (click)="onLogin()">
      Login
    </ion-button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>


  <div *ngIf="authMode === 'signup'" class="auth-options">
    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="person-outline" class="input-icon"></ion-icon>
      <ion-input type="text" placeholder="Full Name" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="mail-outline" class="input-icon"></ion-icon>
      <ion-input type="email" placeholder="Email Address" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="lock-closed-outline" class="input-icon"></ion-icon>
      <ion-input type="password" placeholder="Password" required></ion-input>
      <ion-icon slot="end" name="eye-outline" class="toggle-password"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="lock-closed-outline" class="input-icon"></ion-icon>
      <ion-input type="password" placeholder="Confirm Password" required></ion-input>
      <ion-icon slot="end" name="eye-outline" class="toggle-password"></ion-icon>
    </ion-item>

    <ion-button expand="block" class="signup-button" (click)="onSignUp()">
      Sign Up
    </ion-button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>

  <p class="terms">
    By signing in with an account, you agree to TripTalk's
    <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
  </p>
</ion-content>
