@font-face {
    font-family: 'Righteous-Regular';
    src: url(../../assets/font/Righteous-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'WorkSans-Regular';
    src: url(../../assets/font/WorkSans-Regular.ttf) format('truetype');
  }

.profile-container {
    --background: linear-gradient(to top, #003366, #0055cc);
    background: var(--background);
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.profile-header {
    position: relative;
    padding: 20px 0;
}

.profile-header ion-icon {
    color: #ffffff;
}

.profile-header h2 {
    font-family: 'Righteous-Regular';
    font-size: 26px;
    margin: 0;
}

.user-profile {
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 2px solid #ffffff;
}

.user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    font-family: 'WorkSans-Regular';
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.user-email {
    font-family: 'WorkSans-Regular';
    font-size: 14px;
    color: #cfcfcf;
    margin-bottom: 20px;
}

.profile-options {
    font-family: 'WorkSans-Regular';
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    padding: 2px 0px;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 80px;
}

.profile-options ion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    background: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    color: inherit;
    outline: none;
    z-index: 10;
}

.profile-options ion-button:hover {
    background-color: #c2bfbf;
    border-radius: 10px;
}

.profile-options ion-button ion-icon:first-child {
    margin-right: 10px;
    font-size: 20px;
}

.profile-options ion-button ion-icon:last-child {
    font-size: 16px;
    color: #cfcfcf;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #003366;
    border-top: 1px solid #0055cc;
    position: relative;
    z-index: 1;
}

.footer ion-icon {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

