/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

html {
    --background: linear-gradient(to top, #003366, #0055cc);
}

@font-face {
    font-family: 'Righteous-Regular';
    src: url(assets/font/Righteous-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'WorkSans-Regular';
    src: url(assets/font/WorkSans-Regular.ttf) format('truetype');
  }

.modal {
  --font-family: 'Righteous-Regular" ';
  --align-items: center;
  --background: linear-gradient(to top, #003366, #0055cc);
  --color: #ffffff;
  --border-radius: 50px;
  --padding: 16px;
  --text-align: center;

  .alert-title {
    font-family: 'Righteous-Regular';
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }

  .alert-message {
    font-family: 'WorkSans-Regular';
    font-size: 16px;
    color: #ffffff;
  }

  .cancel-button {
    font-family: 'Righteous-Regular';
    font-size: 14px;
    color: #ffffff;
    border-color: transparent;
  }

  .exit-button {
    font-family: 'Righteous-Regular';
    font-size: 14px;
    color: red;
    background-color: transparent;
    border-color: transparent;
  }

  .cancel-button, .exit-button {
    margin: 10px;
  }

  .save-button {
    font-family: 'Righteous-Regular';
    font-size: 14px;
    color: #ffffff;
    border-color: transparent;
  }

  .placeholders {
    font-family: 'Righteous-Regular';
    font-size: 14px;
    color: #ffffff;
    border-color: transparent;
  }
}
